.carousel-caption {
  height:60%;
}

@media screen and (max-width: 900px) {
  .carousel-caption {
     display: none
  }
}

.show{
  background-color: black;
  margin-top:2px;
}

.show > ul{
  padding-left: 20px;
}


.show > ul >  #nav-leftmenu{
  padding-left: 0px;
}

.nav-item{
  margin-right: 30px;
}

.navbar-toggler{
  background-color: black;
}

.navbar-toggler-icon{
  color: black;
}

.navbar{
  background-color: black;
  padding: 0;
  height: 110px;
}

.leftmenu{
  padding-left: 20px;
}

.mx-autor{
  height: 95px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link{
  color: white;
}

#logo-size{
  width: 310px;
  height: 95px;
}

#hover-menu:hover{
  color: gray;
}

.navbar-brand{
  height:60px;
  line-height: 45px;
  font-size:50px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0px;
}

#username{
  color: gray;
}

#Worklist {
  display: inline-block;
  text-align:center;
  list-style-type: none;
  overflow: hidden;
  padding-left: 0px;
}
.noworklist{
  margin-top: 150px;
}

#List_create {
  text-decoration: none;
  color:DimGray ;
}

#List_create:hover{
  text-decoration:underline;
}


#workspan {
  font-size: 10px;
  display: inline-block;
  text-align:left;
  margin-right: 30px;
}

#Worklist li {
  margin-bottom: 50px ;
  font-size: 25px;
  font-weight: bold;
  color: rgb(14, 13, 13);
  text-decoration: none;
}

#work_createbtn{
  color: rgb(73, 73, 73);
  padding: 0;
}

#work_textarea{
  resize: none;
}

#work_align{
  display:inline-block;
  text-decoration: none;
}

#work_button_color{
  display:inline-block;
  color:black;
  font-size: 30px;
  text-decoration: none;
}

#Delete_work {
  margin-top: 30px;
  margin-left: 10px;
  background-color: white;
  color: red;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
}

.input-login {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  background-color:gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

.login-button:hover {
  opacity: 0.8;
}

#login-container {
  padding: 16px;
  text-align:center;
  display:inline;
}

.login-form{
	display:inline-block;
}
.login-centerd{
	text-align:center;
}

.input-join {
  width: 90%;
  padding: 15px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.join-btn:hover {
  opacity:1;
}

.join-btn {
  width: 90%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-top:20px;
}

#join-container{
	padding: 16px
}

.join-centerd{
	text-align:center;
}

.join-form{
    width:700px;
	display:inline-block;
}

.join-birth{
  width:29.6%;
  height:40px;
}

.join-birth-margin{
  margin-top:10px;
  margin-bottom: 0;
}

@media screen and (max-width: 678px) {
 .join-form {
     width: 100%;
  }
}

.input-mypage {
  width: 90%;
  height:50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.mypage-button {
  background-color:gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  height:50px;
}

.mypage-button:hover {
  opacity: 0.8;
}

#mypage-container {
  padding: 16px;
  text-align:center;
  display:inline;
}

.mypage-form{
	width:600px;
	display:inline-block;
}
.mypage-centerd{
	text-align:center;
}

@media screen and (max-width: 608px) {
 .mypage-form {
     width: 100%;
  }
}

#title {
  font-size: 60px;
  text-align:center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  overflow: hidden;
}

#title a {
  color: #333;
  text-decoration: none;
}

#body {
  text-align:center;
  margin-top: 250px;
}

#noboard {
  margin-top: 150px;
  font-size: 20px;
  font-weight: bold;
}

#board_table {
  width: 40%;
  border-collapse: collapse;
}

#board_table > tbody > tr > td{
  border: 1px solid;
}

#board_table > tbody > tr > th{
  border: 1px solid;
}

#board_create_button{
  color: rgb(73, 73, 73);
  padding: 0;
}


#board_title{
  text-align: left;
  font-size: 20px;
  padding-right: 0px;
}


#board_right{
  text-align: right;
  width: 70px;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

#board_right_name{
  text-align: right;
  width: 70px;
  padding-right: 10px;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

#board_content{
  text-align: left;
  font-size: 15px;
}

#board_content > td > textarea{
  width: 100%;
  min-height: 100px;
  border: 0px;
  padding: 0px;
  resize: none;
}

#comment-margin{
  margin-top: 300px;
}

#comment-paging-margin{
  margin-top: 100px;
}

#board_comment_bottom{
  border-bottom: 1px;
}

#board_comment_name{
  text-align: left;
  font-size: 17px;
  padding-left: 10px;
  width: 15%;
  font-weight: bold;
}

#board_comment_content{
  text-align: left;
  font-size: 17px;
  padding: 10px;
  padding-top: 20px;
  border-top:0;
  word-break: break-all;
}

#board_comment_date{
  text-align: left;
  width: 75%;
  padding-right: 10px;
  height: 10px;
  font-size: 12px;
}

#board_comment_text{
  padding-left: 10px;
  text-align: left;
  font-size: 15px;
}

#board_textarea{
  resize: none;
}

#comment_title{
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}

#board_button{
  text-align: right;
  margin-top: 5px;
}

#board_comment_button{
  color: rgb(73, 73, 73);
  padding: 0;
  font-size: large;
  width: 40px;
}

#board_comment_delete{
  color: rgb(73, 73, 73);
  padding: 0;
  ;
}

.comunity_inline{
  display: inline-block;
}

#comunity_btn_update_link {
  color: rgb(73, 73, 73);
  padding: 0;
}

#comunity_btn_delete_link {
  color: rgb(73, 73, 73);
  padding: 0;
}

#board_upbtn {
  text-align: right;
  width: 70%;
  display: inline-block;
}

#update_link {
  color: rgb(73, 73, 73);
  padding: 0;
}

#tablenum{
  width: 40px;
  padding-right: 0;
  padding-left: 0;
}

#tabledate{
  width: 100px;
  padding-right: 0;
  padding-left: 0;
}

#tableview{
  width: 60px;
  padding-right: 0;
  padding-left: 0;
}

#tableauthor{
  width: 100px;
  padding-right: 0;
  padding-left: 0;
}

#tabletitle{
  padding-right: 0;
  padding-left: 0;
}

#tablecreate{
  text-align: right;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

#board_cbtn_align{
  width: 70%;
  text-align: right;
  display: inline-block;
}

#board-create-title{
  width:70%; 
  display:inline-block;
  resize: none;
}

#board-create-content{
  width:70%; 
  display:inline-block;
  resize: none;
}